<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <% const action=locals.action || "Log-in" %>
        <% const visibility=locals.action ? "none" : "" %>
</head>
<body>
    <h2>
        <%= action %> to the site
    </h2>
    <form action="/<%= action.toLowerCase() %>" method="post">
        <label>
            <p>Username:*</p>
            <input name="username" type="text" required>
        </label>
        <label>
            <p>Password:*</p>
            <input name="password" type="password" required>
        </label>
        <button type="submit">Submit</button>
    </form>
    <a href="/sign-in" style="display: <%= visibility %>;">Sign in</a>
</body>
</html>